ul {
	padding: 0;
}

li.item {
	list-style: none;
	padding: 20px 10px;
	border: 1px solid black;
	border-bottom: none;
	width: 500px;
}
li.item:last-child {
	border-bottom: 1px solid black;
}
.item p {
	margin: 0;
}
.item .name {
	font-weight: bold;
}