header .balance {
	color: #00f;
	font-size: 15pt;
}
nav a {
	margin-right: 10px;
	color: blue;
	text-decoration: none;
	font-size: 15pt;
}
nav a:hover {
	text-decoration: underline;
	color: #8800ff;
}
hr {
	border: none;
	background: black;
	height: 1px;
	width: 520px;
}
.item .checkbox {
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	transform: scale(2);
	margin-bottom: 30px;
}
footer {
	font-size: 120%;
}