footer
	hr(align="left")

	h3 Contact the developer
	ul
		li komarnicki115@gmail.com
		li
			a(href="https://m.me/komarnicki.m") Messenger
		li 
			a(href="http://steamcommunity.com/id/m2k17/") Steam
		li 
			a(href="https://github.com/mkom99") Github
		
		br
		a(href="https://steamcommunity.com/tradeoffer/new/?partner=353364755&token=hVAbOmNt") Steam donate link
	p The plans are 
		strong big.