html
	head
		title Skins-mate v1.0
		style
			include ../src/main.css
			include ../src/home.css
	body
		header
			h1 OPSkins-Dashboard Alpha 2
			
			p Your SteamID: 
				span.steam-id
			p Your OPSkins balance: 
				span.balance

			nav
				a(href="http://localhost") Sales
				a(href="http://localhost/buy-items") Buy items
				a() Inventory (soon)
				a() Auction sniper (soon)

			hr(align="left")