html
	head
		title Skins-mate v1.0
		style
			include ../src/main.css
			include ../src/home.css
	body
		header
			h1 Hello. I am skins-mate
			p Come in. Don't take off your shoes
			p This is very first beta w/o design

			nav
				a(href="http://localhost") Dashboard
				a(href="http://localhost/buy-items") Buy items
			hr