.ui.modal.settings
	.header Settings
	.content 
		.ui.form
			.field
				label API Key:
				input(type="text" autocomplete="off")#api-key
	.actions
		.ui.approve.positive.button Save
		.ui.deny.button Cancel