.sidebars-column
	.sidebar#friends-list
		.ui.padded.segment
			h2 Friends list
			table.ui.very.basic.table
				tbody
					tr
						td.three.wide.nick Mike
						td.key 3181dd8796ed
						td.right.aligned
							.ui.small.basic.negative.button Remove
					tr
						td.nick Paul
						td.key 3181dd8796ed
						td.right.aligned
							.ui.small.basic.negative.button Remove
					tr
						td.nick Luke
						td.key 3181dd8796ed
						td.right.aligned
							.ui.small.basic.negative.button Remove
			.ui.primary.button.add-friend-btn Add new
	.sidebar#developer-info
		.ui.padded.segment
			h2 Developer
			ul.ui.list
				.item
					a(href="https://github.com/mkom99")
						.ui.labeled.icon.tiny.button 
							i.icon.github
							|GitHub
				.item
					a(href="https://m.me/komaricki.m")
						.ui.labeled.icon.blue.tiny.button 
							i.icon.facebook
							|Messenger
				.item
					a(href="http://steamcommunity.com/id/toldyou/")
						.ui.labeled.icon.green.tiny.button 
							i.icon.steam
							|Steam