.sidebars-column
	.sidebar#friends-list
		.ui.padded.segment
			h2 Friends list
			table.ui.very.basic.table
				tbody
					tr
						td.nick Mike
						td.key 3181dd879..
						td.right.aligned 
							.ui.tiny.basic.button edit
					tr
						td.nick Paul
						td.key 3181dd879..
						td.right.aligned 
							.ui.tiny.basic.button edit
					tr
						td.nick Luke
						td.key 3181dd879..
						td.right.aligned 
							.ui.tiny.basic.button edit
			.ui.secondary.button Add new
	.sidebar
		.ui.padded.segment
			h2 Author
			.ui.list
				.item komarnicki115@gmail.com
				.item github.com/mkom99
				.item m.me/komarnicki.m
