include includes/header.pug

h3 Buy skins from your buddies :)
p Input here his API key: 
	input
	button.api-save-btn submit

ul

script
	include src/lib/jquery-3.2.1.min.js
script(src="/socket.io/socket.io.js")
script
	include src/main.js
script
	include src/buy-items.js
	
include includes/footer.pug