include includes/header.pug

h2 Show your friend's sales
	
input.api-key(placeholder="API Key")
button.api-save-btn submit

ul.items-list

include includes/scripts.pug
script
	include src/buy-items.js
	
include includes/footer.pug